
{% load static %}

<div class="top-bar_sub_w3layouts_agile">
		<h6>MAKE CREATIVITY A HABIT <a href="{% url 'courses:contact' %}">Contact Us </a></h6>

		<div class="clearfix"> </div>
	</div>
	<div class="header" id="home">

		<!--/top-bar-->
		<div class="top-bar">
			<div class="header-nav-agileits">

				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
						<h1><a class="navbar-brand" href="{% url 'courses:index' %}">Stretch <span>Online Education</span></a></h1>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="top_nav">
								<li><a href="{% url 'courses:index' %}" class="active">Home</a></li>
								<li><a href="{% url 'courses:about' %}">About</a></li>
								<li><a href="{% url 'courses:courses' %}">Courses</a></li>
								<li><a href="{% url 'courses:contact' %}">Contact</a></li>

							</ul>
						</nav>
					</div>
				</nav>

			</div>
		</div>
	</div>